@font-face {
    font-family: 'Chronicle';
    src: url('../assets/fonts/Chronicle\ Display\ Semibold.woff2');
}
@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../assets/fonts/Gilroy-Bold.woff2');
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../assets/fonts/Gilroy-Medium.woff2');
}